* {
  padding: 0;
  margin: 0;
  min-width: 0;
}

body {
  height: 100vh;
  overflow: hidden;
}

.titlebar {
  height: 30px;
  background: #3a3a3a;
  user-select: none;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.titlebar-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  user-select: none;
  -webkit-user-select: none;
}

.titlebar-button:hover {
  background: #a3a3a3;
}

.container {
  margin-top: 30px;
  padding: 10px;
  background-color: gray;
  height: calc(100vh - 30px);
  overflow: auto;
}

.codeblock {
  overflow: scroll;
  height: 300px;
}
